.car {
    mask-image: url(../view/img/machine.svg);
    mask-size: 100% 100%;
    width: 100px;
    height: 100px;
    position: relative;
}

.car-line{
    display: flex;
    flex-direction: column;
}

.car-line-horizontal{
    display: flex;
    flex-direction: row;
}

.switch-button{
    background-color: rgb(90, 49, 161);
    font-weight: 700;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    z-index: 3;
}

.switch-button:hover{
    background-color:darkmagenta;

}

#car-container{
    display: flex;
    height: 638px;
    flex-flow: column nowrap;
    overflow: hidden;
}

#cur-page{
    padding-top: 10px;
    position: relative;
    z-index: 3;
}

.flag{
    background-image: url(../view/img/flag.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    position: absolute; 
    right: 0; 
    padding-right: 100px;
    margin-top: 25px;
}

.striped-line{
    border: 2px dashed black;
    width: 100%;
    margin-top: -20px;
}

.button{
    cursor: pointer;
}

.buttons{
    margin-top: 15px;
}

.stop-btn,.start-btn{
    height: fit-content;
    width: 30px;
}

.start-btn{
    border: 1px solid green;
    color: green;
    padding: 4px 5px;
}

.stop-btn{
    border: 1px solid red;
    color: red;
    padding-bottom: 5px;
}

.stop-btn:disabled {
    background-color: #cccccc; 
    color: #666666; 
    border-color: #999999; 
    cursor: not-allowed; 
}

.start-btn:disabled {
    background-color: #cccccc; 
    color: #666666; 
    border-color: #999999; 
    cursor: not-allowed; 
}

.page-switcher{
    margin-top: 20px;
}

.race-btn{
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-weight: 700;
    font: 1em;
    border-radius: 5px;
}

.race-btn:disabled {
    background-color:#666666;
    cursor: not-allowed;
}

.red{
    background-color: black !important;
}