.menu{
    margin-bottom: 40px;
}

.car {
    mask-image: url(../view/img/machine.svg);
    mask-size: 100% 100%;
    width: 100px;
    height: 100px;
}

.car-line{
    display: flex;
    flex-direction: row;
}

.switch-button{
    background-color: rgb(90, 49, 161);
    cursor: pointer;
    padding: 10px 20px;
    position: relative;
    z-index: 3;
}